# Specifies how many minutes the console app should collect data.
time = 60

# Specifies the substring for all data logged.
log_filename = _data

# Specifies the substring for all data logged.
generate_report = true

# Specifies the substring for all data logged.
report_filename = _report

# Specifies whether we output to the console window.
log = true

# Specifies how many times we repeat sweep/scan collection.
iterations = 1

# Specifies the path and filename of the license to be uploaded.
# Only toggle when actually uploading a license.
#upload_license = C:\path\to\filename.lic

# Specifies the hardware id of the unit to be updated with a new license.
# Only toggle when overwriting a corrupt license.
# upload_license_hardware_id = 30000

# Specifies which GSM bands to sweep.
# Each band should be on a separate line prefixed with "sweep_gsm = ".
# Available bands are:
# 850  [Band 5 {869 - 894}]
#	900  [Band 8 {925 - 960}]
#	1800 [Band 3 {1805 - 1880}]
#	1900 [Band 2 {1930 - 1990}]
sweep_gsm = 850
sweep_gsm = 900
sweep_gsm = 1800
sweep_gsm = 1900

# Specifies which WCMDA bands to sweep.
# Each band should be on a separate line prefixed with "sweep_wcdma = ".
# Available bands are:
# 850  [Band 5 {869 - 894}]
#	900  [Band 8 {925 - 960}]
#	1800 [Band 3 {1805 - 1880}]
#	1900 [Band 2 {1930 - 1990}]
#	2100 [Band 1 & 4 {2110 - 2170}]
sweep_wcdma = 850
sweep_wcdma = 900
sweep_wcdma = 1800
sweep_wcdma = 1900
sweep_wcdma = 2100

# Specifies which LTE bands to sweep.
# Each band should be on a separate line prefixed with "sweep_lte = ".
# Available bands are:
#	20 [Band 20 {791 -821}]
#	5  [Band 5 {869 - 894}]
#	8  [Band 8 {925 - 960}]
#	3  [Band 3 {1805 - 1880}]
#	2  [Band 2 {1930 - 1990}]
#	4  [Band 4 {2110 - 2155}]
#	1  [Band 1 {2110 - 2170}]
sweep_lte = 5
sweep_lte = 8
sweep_lte = 3
sweep_lte = 2
sweep_lte = 4
#sweep_lte = 1
sweep_lte = 20
